Python==3.8.5
Jinja2==2.11.2
numpy==1.19.2
gunicorn==20.1.0
Flask==1.1.2
scikit-learn==1.0.2
scipy==1.5.2
pandas>=0.19
# textblob==0.15.3
nltk==3.5
pickleshare==0.7.5
# cloudpickle==1.2.2
# itsdangerous==1.1.0
# MarkupSafe==1.1.1
# Werkzeug==0.15.5
cython>=0.29.15
